@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Knewave&display=swap');
@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

:root {
    --primary: #1958af;
    --link: #001c13;
    --light: #e3eeff;
    --dark: #11294b;
}

* {
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

.title {
    letter-spacing: 1px;
    font-weight: 700;
}

a {
    font-weight: bold;
}


.main-hero * {
    color: var(--dark);
}

.logo-section * {
    color: var(--light);
}

.logo-section a {
    color: var(--light);
    opacity: 0.7;
    transition: .2s;
}

.logo-section a:hover {
    opacity: 1;
}

.logo {
    font-family: 'Knewave', cursive;
    font-size: 4.5em;
    position: relative;
    left: 5px;
    letter-spacing: 2px;
}

@media(max-width: 768px) {
    .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
    }
}

.custom-shape-divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.main-hero {
    background: var(--dark);
}

.main-hero .title {
    color: var(--light);
    font-size: 4em;
}

@media screen and (max-width: 768px) {
    .main-hero .title {
        font-size: 2.5em;
        margin-top: 50px;
    }
}

.cases-section {
    background: var(--light);
}

.cases-section * {
    color: var(--dark);
}

.cases-section .case {
    margin-top: 120px;
}


.cases-section path {
    fill: var(--dark);
}

.cases-section .title.is-3 {
    margin-bottom: 25px;
}

.who-section {
    background: var(--dark);
}

.who-section * {
    color: var(--light);
}

.who-section path {
    fill: var(--light);
}

.footer {
    background: var(--light);
}

.footer .logo {
    color: var(--dark);
}

.footer a {
    color: var(--dark);
    transition: .2s;
    opacity: .7;
}

.footer a:hover {
    opacity: 1;
}
