@import 'variables.scss';
@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Knewave&display=swap');

* {
  font-family: 'Kumbh Sans', sans-serif;
}

.title {
  font-family: 'Knewave', cursive;
}

a {
  font-weight: bold;
}